.img-ball {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  z-index: 1;
}
.btn-start {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 50px;
  font-size: 2rem;
  z-index: 99;
}

.text-question {
  font-size: 2rem;
  text-align: center;
  color: yellow;
  font-family: 'Bellota', cursive;
}