body {
  background-color: black;
  margin: 0 auto;
  font-size: 10px;
}

.wrapper {
  display: block;
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 10%;
  margin-left: -250px;
}

.game-container {
  display: none;
  position: absolute;
  width: 600px;
  z-index: 9999;
  left: 50%;
  top: 10%;
  margin-left: -300px;
}

.energy {
  display: none;
}

.is-visible {
  display: block;
}